body{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 200px;
    margin-right: 200px;
}

.botones{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}